<center>
  <div id="logo" align="center">
    <img src="https://raw.githubusercontent.com/On-y-va/onyva_fe/main/src/assets/onyva_logo.png" class="img-fluid" alt="onyva logo" width="400" height="auto" />
  </div>
  <div class="title_name">
    <h3> Update Trip Details </h3>
  </div>
  <%= form_with url: trip_path(@trip.trip_id), method: :patch, local: true do |f| %>
    <div class="title_name" id="formline1">
      <div class="form-outline w-50" class="col">
        <%= f.label :name %>
        <p><%= f.text_field :name, class: "form-control", :value => "#{@trip.name}" %></p>
      </div>
    <div class="title_name" id="formline2">
      <div class="form-outline w-50" class="col">
        <%= f.label :start_date, "Vacation Start" %>
        <p><%= f.date_field :start_date, class: "form-control", :value => "#{@trip.start_time}" %></p>
      </div>
        <div class="form-outline w-50" class="col">
          <%= f.label :end_date, "Vacation End" %>
          <p><%= f.date_field :end_date, class: "form-control", :value => "#{@trip.end_time}" %></p>
        </div>
      </div>
    <%= f.submit "Update", class: "button" %>
  <% end %>
</center>