<div id="button" align="right">
  <div class='btn-group'>
    <%= button_to "Flight Information", trip_flights_path(@trip.trip_id), method: :get, local: true, class:"button btn-outline-info btn-sm" %>&nbsp;&nbsp;&nbsp;
    <%= button_to "Add Flight Information", new_trip_flight_path(@trip.trip_id), method: :get, local: true, class:"button btn-outline-info btn-sm" %>&nbsp;&nbsp;&nbsp;
    <%= button_to "Update Trip", edit_trip_path(@trip.trip_id), method: :get, local: true, class:"button btn-outline-info btn-sm" %>&nbsp;&nbsp;&nbsp;
    <%= button_to "My Home Page", user_path(@user.id), method: :get, local: true, class:"button btn-outline-danger btn-sm" %>&nbsp;&nbsp;&nbsp;
    <%= button_to "Delete #{@trip.name}", trip_path(@trip.trip_id), method: :delete, local: true, class:"button-danger btn-outline-danger btn-sm" %>&nbsp;&nbsp;&nbsp;
    <%= button_to "Invite Friends", trip_invite_path(@trip.trip_id), method: :get, local: true, class:"button btn-outline-info btn-sm" %>&nbsp;&nbsp;&nbsp;
  </div>
</div>
<div id="logo" align="left">
  <img src="https://raw.githubusercontent.com/On-y-va/onyva_fe/main/src/assets/onyva_logo.png" class="img-fluid" alt="onyva logo" width="200" height="200" />
</div>
<center>
  <div id="title-font">
    <h1 class="title_name"> <%= @trip.name %> </h1><br/><br/>
  </div>
</center>
<div class="container text-center">
  <div class="row align-items-start">
    <div id="pic" >
      <div class="col">
        <img src=<%= "#{@trip.image_url}" %> class="img-fluid" alt="location image" width="300" height="100" />
        <div class="bg p-1 rounded-lg m-5">
          <div class="font-class">
        <h4>Attending</h4>
          <% @users.each do |user| %>
            <p><%= user.first_name %> <%= user.last_name %></p>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/><br/><br/><br/>

<div class="bg p-1 rounded-lg m-5">
  <div class="font-class">
    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col" id="food">
          <h4>Places to eat:</h4>
          <% if @events.nil? %>
          <% else %>
          <div class="accordion" id="accordionExample" role="tablist" aria-multiselectable="true">
              <% @events.each do |event| %>
                <% if event[:category] == "restaurant" %>
                    <div class="accordion-item">
                      <h6 class="accordion-header" id="heading<%= event[:id] %>">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= event[:id] %>" aria-expanded="false" aria-controls="collapse<%= event[:id] %> " style="background-color:white" href="#collapse<%= event[:id] %>">
                            <div class="btn_inner-color">
                              <%= event[:name] %>
                            </div>
                          <div id="collapse<%= event[:id] %>" class="accordion-body collapse in">
                        </button>
                      </h6>
                      <div id="collapse<%= event[:id] %>" class="accordion-collapse collapse" aria-labelledby="heading<%= event[:id] %>" data-bs-parent="#accordionExample">    
                        <div class="accordion-body">
                        <div class="btn_inner-color">
                          <strong><%= button_to "Vote", trip_event_path(@trip.trip_id, event[:id]), method: :patch, local: true %> <%= event[:address] %></strong>
                        </div>
                        </div>
                      </div>
                    </div>
                <% end %>
              <% end %>
            </div>
          <% end %>      
        </div>
        <div class="col" id="sights">
          <h4>Things to do:</h4>
          <% if @events.nil? %>
          <% else %>
            <div class="accordion" id="accordionExample" role="tablist" aria-multiselectable="true">
              <% @events.each do |event| %>
                <% if event[:category] == "attraction" %>
                    <div class="accordion-item">
                      <h6 class="accordion-header" id="heading<%= event[:id] %>">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= event[:id] %>" aria-expanded="false" aria-controls="collapse<%= event[:id] %>" style="background-color:white" href="#collapse<%= event[:id] %>">
                          <div class="btn_inner-color">
                            <%= event[:name] %>
                          </div>
                          <div id="collapse<%= event[:id] %>" class="accordion-body collapse in">
                        </button>
                      </h6>
                      <div id="collapse<%= event[:id] %>" class="accordion-collapse collapse" aria-labelledby="heading<%= event[:id] %>" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <div class="btn_inner-color">
                          <%= button_to "Vote", trip_event_path(@trip.trip_id, event[:id]), method: :patch, local: true %> <%= event[:address] %></strong>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <div class="col", id="schedule">
          <h4>Top Picks:</h4>
          <p><%= @most_popular_event[:attributes][:name] %></p>
        </div>
      </div>
    </div>
  </div>
</div>
