<center>
<div id="logo" align="center">
    <img src="https://raw.githubusercontent.com/On-y-va/onyva_fe/main/src/assets/onyva_logo.png" class="img-fluid" alt="onyva logo" width="400" height="auto" />
</div>
<br>
<div class="title_name">
<h3>Edit <%= @flight.user_name %>'s flight details</h3>
</div>
</center>

<%= form_with url: trip_flight_path(@trip.trip_id, @flight.flight_id), method: :patch, local: true do |f| %>
<div class="title_name" id="formline3">
  <div class="row">
    <div class="col">
        <%= f.label :flight_number, "Flight number" %>
        <p><%= f.text_field :flight_number, class: "form-control", value: @flight.flight_number %></p>
    </div>
</div>
<div class="title_name" id="formline3">
  <div class="row">
    <div class="col">
        <%= f.label :date, "Date" %>
        <p><%= f.date_field :date, class: "form-control", value: Date.today %></p>
    </div>
</div>
<center><%= f.submit "ONYVA!", class: "button" %></center>
<% end %>