<center>
<div id="logo" align="center">
    <img src="https://raw.githubusercontent.com/On-y-va/onyva_fe/main/src/assets/onyva_logo.png" class="img-fluid" alt="onyva logo" width="400" height="auto" />
</div>
</center>

<%= form_with method: :post, local: true do |f| %>
<div class="title_name" id="email">
  <div class="row"> 
    <div class="col">
        <%= f.label :email %>
        <p><%= f.text_field :email, class: "form-control", placeholder: "example@email.com" %></p>
    </div>
</div>
<div class="title_name" id="flight_number">
  <div class="row">
    <div class="col">
        <%= f.label :flight_number, "Flight number" %>
        <p><%= f.text_field :flight_number, class: "form-control", placeholder: "EX: 'KL1234'" %></p>
    </div>
</div>
<div class="title_name" id="date">
  <div class="row">
    <div class="col">
        <%= f.label :date, "Date" %>
        <p><%= f.date_field :date, class: "form-control" %></p>
    </div>
</div>
<center><%= f.submit "ONYVA!", class: "button" %></center>
<% end %>