<%= form_with method: :post, local: true do |f| %>
    <%= f.label :first_name %>
    <p><%= f.text_field :first_name %></p>
    <%= f.label :last_name %>
    <p><%= f.text_field :last_name %></p>
    <%= f.label :phone_number %>
    <p><%= f.text_field :phone_number %></p>
    <%= f.label :email %>
    <p><%= f.email_field :email %></p>
    <%= f.label :password %>
    <p><%= f.password_field :password %></p>
    <%= f.label :password_confirmation %>
    <p><%= f.password_field :password_confirmation %></p>
    <%= f.submit "Register" %>
    <% end %>